.abouts__container {
  margin: 5rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}

.aboutus__content p { 
  color: gray;
  font-size: 15px;
  font-weight: 300;
}
.aboutus__content h2 {
  font-weight: 200;
  font-size: 42px;
}

.aboutus__button {
  text-align: justify;
  margin-right: 25rem;
  margin-top: 9.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutus__button h4 {
  font-size: 22px;
  font-weight: 200;
}

.aboutus__button a {
  margin: 1rem;
}

@media screen and (max-width: 768px) {
  .aboutus__content p {
    font-size: 11px;
  }
  .aboutus__content h2 {
    font-size: 30px;
  }
  .aboutus__button {
    margin: 0;
  }
  .aboutus__button h4 {
    font-size: 20px;
  }
  .aboutus__button a {
    margin-right: 10px;
  }
}
