.industries__con__main {
  color: #000;
  background-color: #f5f5f5;
}

.industries__con__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

.industries__con__heading {
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 5rem;
}

.industries__con__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.industries__con__card {
  flex: 0 0 calc(40% - 30px);
  max-width: calc(33.33% - 20px);
  width: 100%;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: 0.3s;
  border: 2px solid transparent;
}

.industries__con__card img {
  width: 30%;
  margin-left: 5rem;
}

@media screen and (max-width: 969px) {
  .industries__con__main {
    height: 100vh;
  }
  .industries__con__section {
    padding: 20px 0px;
  }
  .industries__con__heading {
    font-size: 30px;
    line-height: 40px;
  }
  .industries__con__card {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media screen and (max-width: 600px) {
  .industries__con__card {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .industries__con__main {
    height: 100vh;
  }
}
